<!DOCTYPE html>
<html>
    <head>
        <title>Abhijeet Singh's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Boys Blog</a></h1>
        </header>

        <article>
            <time>published: 26-06-2021, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Political, economic support will continue after U.S. troops leave: Biden tells Afghan leaders</p>
        </article>

        <article>
            <time>published: 26-06-2021, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>There are countries ‘clearly guilty’ of aiding terrorism, wilfully providing safe havens to terrorists: India</p>
        </article>
    </body>
</html>
